# Reference: https://www.appveyor.com/docs/appveyor-yml/

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.1.0.{build}

# Skipping commits affecting specific files (GitHub only). More details here: /docs/appveyor-yml
skip_commits:
  files:
    - docs/*
    - '**/*.md'
    - '*.md'

#---------------------------------#
#    environment configuration    #
#---------------------------------#
environment:
  APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  DOTNET_CLI_TELEMETRY_OPTOUT: 1


pull_requests:
  do_not_increment_build_number: true


#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration:
- Release

before_build:
  - dotnet restore

build:
  parallel: true                  # enable MSBuild parallel builds
  verbosity: minimal              # MSBuild verbosity level
  project: DotNetCoreKoans.sln    # path to Visual Studio solution or project

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test_script:
- dotnet test -c %CONFIGURATION%